.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .admin-blog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .admin-blog-icons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      a {
        display: inline-block;
        padding: 10px;
        transition: color 0.3s ease-in-out;

        /* Icono de basurero y editar - Azul claro por defecto, dorado en hover */
        &.trash-icon svg,
        &.circle-icon svg {
          color: #a4d8ec; /* Azul claro por defecto */
          transition: color 0.3s ease-in-out;
        }

        &.trash-icon:hover svg,
        &.circle-icon:hover svg {
          color: rgb(205, 177, 50); /* Dorado en hover */
        }
      }
    }
  }

  /* Botón de "nuevo blog" accesible en pantallas pequeñas */
  .new-blog-link a {
    position: fixed;
    top: 95px;
    left: 30px;
    cursor: pointer;
    color: rgb(205, 177, 50); /* Dorado por defecto */
    transition: 0.5s ease-in-out;
  }

  .new-blog-link a:hover {
    color: #a4d8ec; /* Azul claro en hover */
  }

  /* Contenedor del contenido que se adapta a diferentes tamaños */
  .content-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    transition: all 0.5s ease-in-out;

    a,
    h1 {
      text-decoration: none;
      color: rgb(205, 177, 50); /* Dorado por defecto */
      transition: color 0.5s ease-in-out;

      &:hover {
        color: grey; /* Cambia a gris en hover */
      }
    }

    h1 {
      font-size: 1.5em;
    }

    .featured-image-wrapper {
      img {
        margin: 15px 0px;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 768px) {
    .content-container {
      width: 90%;
    }

    .new-blog-link a {
      top: 70px;
      left: 20px;
    }
  }

  /* Responsive para pantallas muy pequeñas */
  @media (max-width: 480px) {
    .content-container {
      width: 100%;
    }

    .featured-image-wrapper img {
      height: 250px;
    }

    .new-blog-link a {
      position: fixed;
      top: 50px;
      left: 17px;
    }
  }
}

.blog-form-wrapper {
  display: grid;
  grid-gap: 21px;
  grid-template-columns: 1fr;
  padding: 42px;

  input {
    font-family: "Titillium Web", sans-serif;
    color: black;
    padding: 5px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
    font-size: 1.1em;
    margin-bottom: 21px;

    &:focus {
      outline: none;
      border-bottom: 1px solid gray;
      color: black;
    }

    &::placeholder {
      color: gray;
      opacity: 1;
    }
  }

  /* Responsive: Ajustamos padding y tamaño de fuente en pantallas pequeñas */
  @media (max-width: 768px) {
    padding: 20px;

    input {
      font-size: 1em;
    }
  }

  @media (max-width: 480px) {
    padding: 15px;

    input {
      font-size: 0.9em;
    }
  }
}


.admin-blog-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  button {
    background: none; 
    border: none; 
    cursor: pointer; 
    display: flex; 
    flex-direction: vertical;
    gap : 50px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in-out; 

   
    &.delete svg,
    &.edit svg {
      color: #a4d8ec; 
      transition: color 0.3s ease-in-out;
    }

    &.delete:hover svg,
    &.edit:hover svg {
      color: rgb(205, 177, 50); /* Dorado en hover */
    }
  }
}

.new-blog-link button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  svg {
    color: rgb(205, 177, 50); 
    transition: color 0.3s ease-in-out;
  }

  &:hover svg {
    color: #a4d8ec; 
  }
}
