/* Seleccionar el span en el header */

.div.files-ui-header-border-rd-default > :nth-child(3) > svg {
  color: white !important;
}

div.files-ui-dropzone-children-container label {
  color: white !important;
}
div.files.ui.footer {
  background-color: #a4d8ec !important;
}