.mapboxgl-popup-content {
    background-color:  rgb(205, 177, 50); // Cambia el color de fondo aquí
    color: rgb(3, 11, 36); // Cambia el color del texto aquí
    font-size: 16px; 
    padding: 10px; 
    border-radius: 4px; // Añade bordes redondeados
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  }
  
  // Opcional: Para ajustar el tamaño del título dentro del popup
  .mapboxgl-popup-content h3 {
    font-size: 18px bold; 
    margin: 0;
  }
  
  // Opcional: Para ajustar el tamaño del párrafo dentro del popup
  .mapboxgl-popup-content p {
    font-size: 14px; 
    margin: 0;
  }
  