@keyframes wind-effect {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(-3deg) translateY(-2px);
  }
  50% {
    transform: rotate(3deg) translateY(2px);
  }
  75% {
    transform: rotate(-2deg) translateY(-1px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

.logo {
  animation: wind-effect 5s ease-in-out infinite; /* Aplica la animación sin modificar el tamaño */
  transform-origin: bottom; /* Mantiene el centro de rotación */
}
